<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kingstone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kingstone.Properties.Settings>
            <setting name="WidthResolution" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="HeightResolution" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="SelectedComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrollSensitivity" serializeAs="String">
                <value>3</value>
            </setting>
        </Kingstone.Properties.Settings>
    </userSettings>
</configuration>